body {
  font-size: 16px;
  color: #FFFFFF;
  background-color: #e8e5e5;
  margin: 0;
}

footer{
  position: fixed;
  width: 100%;
  height: 45px;
  background-color: #393939;
  border-top:2px solid;
  overflow:hidden;
  bottom: 0px;
}


/* Remove default link settings*/
a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 0px;
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
  position: relative;
}

/*Create the navigation bar*/
ul.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #393939;
  border-bottom:2px solid;
}

/*Arrange the items in the navigation bar (Move to the right and display inline)*/
ul.navigation li {
  padding-left:300px;
  display:inline-block;
}

/*Spacing and organising the list*/
ul.navigation li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 21px;
}

/*Menu icon is hidden when the page is over the limit specified*/
ul.navigation li.icon {
  display: none;
}



/*Animation settings for each paragraph*/
p.animation{
  font-family: "Times New Roman", Times, serif;
  font-size: 21px;
  font-weight: bold;
  color:#494646;
  margin: 20px 0 0 100px;
  position: relative;
  top:250px;
  overflow: hidden;
  animation: type 3s steps(60, end); 
}

/*Time after which each line should be displayed*/
p:nth-child(3){
  animation: type2 5s steps(80, end);
}

p:nth-child(4){
  animation: type3 7s steps(80, end);
}

p:nth-child(5){
  animation: type4 9s steps(80, end);
}

/*Blinking line at the end of the animation - typewriter effect*/
span{
  animation: blink 1s infinite;
}


@keyframes type{ 
  0% {opacity: 0;}
  100% {opacity: 1;}
  from { width: 0; } 
} 

@keyframes type2{
  0% {opacity: 0;}
  100% {opacity: 1;}
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 

}

@keyframes type3{
  0% {opacity: 0;}
  100% {opacity: 1;}
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes type4{
  0% {opacity: 0;}
  100% {opacity: 1;}
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 


@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}


/*---------------------------------------------------------------------MOBILE-VERSION!----------------------------------------------------------------------------------*/

/*Whilst the width is below 600px do the following*/
@media screen and (max-width:600px) {

  body{
    overflow:hidden;
  }

  ul.navigation {
    min-width:300px;
    max-width: 600px;
  }

  /*Hide the links into the menu*/
  ul.navigation li
  {
    display: none;
    padding-left: 0px;
  }

  /*Display the menu expanding icon to the right*/
  ul.navigation li.icon {
    float: right;
    display: inline-block;
  }

  /*--Responsive settings--*/

  /*How the list should be displayed one the expand button is clicked*/

  ul.navigation.responsive{
    position: relative;
    padding-top:60px;
    width: 100%;
    background-color: rgba(255,255,255,0.1);
  }

  ul.navigation.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  ul.navigation.responsive li {
    float: none;
    display: inline;
  }

  ul.navigation.responsive li a {
    display: block;
    text-align: center;
  }

  p.animation{
    margin: 10px 0 0 10px;
    font-size: 14px;
    top:50px;
  }

}




/*---------------------------------------------------------------------IPAD/TABLET VERSION!----------------------------------------------------------------------------------*/

/*Whilst the width is between 600px and 940px do the following*/
@media screen and (min-width: 600px) and (max-width: 940px){

  body{
    overflow:hidden;
  }


  ul.navigation {
    min-width: 940px;
    max-width: 940px;
  }

  ul.navigation li {
    padding-left:80px;
  }

  p.animation{
    font-size: 20px;
    margin: 10px  0 0 10px;
  }

}




/*---------------------------------------------------------------------GLOBAL/DESKTOP VERSION!-----------------------------------------------------------------------------------*/

/*Whilst the width is above 940px do the following*/
@media screen and (min-width: 940px) {

  /*Adding a hover effect*/
  ul.navigation li a:hover{
    background-color: #FF9900;
  }

  ul.navigation {
    min-width: 2500px;
    max-width: 2500px;
  }



}


