/*-------------------------------MOBILE-VERSION!!----------------------------------*/

body {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	background-image: url("../images/background2.jpg");
	color: #FFFFD1;
	margin: 0;
	padding:0;
	height: 100%;
	overflow: hidden

}

header {
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	color: #FFFFFF;
	position: fixed;
	left: 130px;
	top:-10px;
	letter-spacing:1px;
	font-weight:200;
	width: 100%;
	height: 60px;
}

#footer {
	width: 100%;
	height: 45px;
	position: absolute;
	bottom:0;
	background: #333;
	border-top:1px solid;
}

/*--Start Navigation Bar--*/

/* Remove default link settings*/
a {
	text-decoration: none;
	color: #FFFFFF;
	padding: 0px;
	font-weight: bold;
	font-size: 20px;
	color: #FFFFFF;
	position: relative;
}

/*Create the navigation bar*/
ul.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

/*Arrange the items in the navigation bar (Move to the right and display inline)*/
ul.navigation li {
padding-left:300px;
display:inline-block;
}

/*Spacing and organising the list*/
ul.navigation li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

/*Adding a hover effect*/
ul.navigation li a:hover {
	background-color: #555;
}

/*Menu icon is hidden when the page is over the limit specified*/
ul.navigation li.icon {
	display: none;
}

/*Once the width is below 580px do the following*/
@media screen and (max-width:580px) {

/*Hide the links into the menu*/
ul.navigation li
  {
  	display: none;
  	padding-left: 0px;
  }

/*Display the menu expanding icon to the right*/
  ul.navigation li.icon {
    float: right;
    display: inline-block;
  }

/*--Responsive settings--*/

/*How the list should be displayed one the expand button is clicked*/

 ul.navigation.responsive{
  	position: relative;
  	padding-top:60px;
  	width: 100%;
  }

 ul.navigation.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

 ul.navigation.responsive li {
    float: none;
    display: inline;
  }

 ul.navigation.responsive li a {
    display: block;
    text-align: center;
  }

}

/*--End Navigation Bar--*/



/*-------------------------------END MOBILE-VERSION!----------------------------------*/


/*-------------------------------GLOBAL/DESKTOP!--------------------------------------*/
@media screen and (min-width: 580px) {
/*Background and html*/
body {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	background-image: url("../images/background.jpg");
	color: #FFFFD1;
	margin: 0;
	padding:0;
	height: 100%;

}

header {
	font-family: 'Roboto Slab', serif;
	font-size: 40px;
	color: #FFFFFF;
	position: absolute;
	left: 600px;
	top: 300px;
	letter-spacing:2px;
	font-weight:700;
}


/* Buttons */
.buttons{
	font-family: 'Roboto Slab', serif;
	font-size: 34px;
	position: absolute;
	left: 750px;
	top: 500px;
	
}

a.CV{
	color: #FFFFFF;
	border: 4px solid white;
	padding:20px;
	box-sizing: border-box;
}

a.CV:hover{
background-color: #FFFFFF;
color:black;
}



a.Social{
	color: #FFFFFF;
	border: 4px solid white;
	padding:20px;
	box-sizing: border-box;
}

a.Social:hover{
background-color: #FFFFFF;
color:black;
}



/*Footer*/
#footer {
	width: 100%;
	height: 45px;
	position: absolute;
	bottom:0;
	background: #333;
	border-top:1px solid;
}


}


